@font-face {
    font-family: 'DM Mono', monospace;
    font-family: 'Roboto', sans-serif;
    src: url(RobotoMono-Regular.ttf);
}

body {
    margin:0;
    color: white;
    background-color: #19191A;
}

header {
    font-family: 'DM Mono';
    display: flex;
    justify-content: space-between;
    padding:0 15% 0 15%;
}

h1 {
    font-size: clamp(20px, 35px, 40px);
}

h2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: clamp(20px , 40px, 45px);
}

h3 {
    text-align: center;
    font-family: 'Roboto';
    font-size: clamp(15px, 25px, 35px);
}

ul li {
    list-style: none;
    display: inline;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
}

p {
    text-align: center;
}

li {
    margin-right: 17px;
}

ul {
    padding-top: 20px;
}

.flex-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20% 0 20%;   
}

.artistName {
    font-size: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width: 20%;
    margin:15px 2px;
    border-radius: 5%;
    box-sizing: border-box;
    width: 19%;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.card:hover img {
    transform: scale(1.1);
}

.card img {
    max-width: 90%;
    margin: 15px 5px 0 12px ;
    height: auto;
    object-position: center center;
}

.flex-2{
    display:flex;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
}

.flex-3 {
   display: flex;
   justify-content: center;
}